.parent {
  &__image {
    border-radius: 50%;
    height: 188px;
    width: 188px;
    padding: 30px;
  }
  &__name {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 61px;
    line-height: 128.6%;
    background: -webkit-linear-gradient(#ffd28d 47.92%, #352000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__post {
    text-align: center;
    background: -webkit-linear-gradient(#ffd28d 47.92%, #352000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.children {
  display: flex;
  justify-content: center;
}

.parents {
  display: flex;
  justify-content: center;
}

.child {
  &__image {
    border-radius: 50%;
    height: 188px;
    width: 188px;
    padding: 30px;
  }
  &__name {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    background-clip: text;
    font-size: 32px;
    line-height: 110%;
    background: -webkit-linear-gradient(#ffd28d 47.92%, #352000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__post {
    text-align: center;
    background: -webkit-linear-gradient(#ffd28d 47.92%, #352000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.navbar-buttons {
  &__back {
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 128.6%;
    letter-spacing: 0.035em;
    background: -webkit-linear-gradient(#ffd28d 47.92%, #352000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 89px;
    margin-left: 273px;
    opacity: 0.2;
    border-bottom: 1px solid #dbae64;
  }
}
